<h1><%= flash[:error] %></h1>
<h1><%= flash[:success] %></h1>
<h1><%= flash[:notice] %></h1>

<h1>Listing folders</h1>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <div class="list">
  
  <% @files.each do |file| %>
  <tr>
  	<% if File.directory?(file)%>
  	<td><%= file %></td>
  
  <td> <%= form_tag folders_path , :method => 'get'   do %>
 	
    <%= hidden_field_tag(:fpath,file) %>
    
    <%= submit_tag("Open Folder", :name => nil) %>
    <% end %></td>
  
 <td> <%= button_to "Delete Folder", {:controller => "folders", :action => 'deldir', :fname => file }, :confirm => "Are you sure ?", :method => :delete %> </td>
  
 <td><%= form_tag rename_path   do %>
 	
    <%= hidden_field_tag(:fpath,file) %>
    <%= text_field_tag(:newname) %>
    <%= submit_tag("Rename", :name => nil,:confirm => "Are you sure ?") %>
    <% end %></td>

  	<% else %>
    <td><%= file %></td>
   
   
   <td><%= form_tag open_file1_path   do %>
 	
    <%= hidden_field_tag(:flpath,file) %>    
    <%= submit_tag("Open", :name => nil) %>
    <% end %></td>
    
    <td> <%= button_to "Delete File", {:controller => "files", :action => 'deletefile1', :fname => file }, :confirm => "Are you sure ?", :method => :delete %> </td>
    
    <td><%= form_tag rename_path   do %>
 	
    <%= hidden_field_tag(:fpath,file) %>
    <%= text_field_tag(:newname) %>
    <%= submit_tag("Rename", :name => nil,:confirm => "Are you sure ?") %>
    <% end %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
</div>

<h3><%= link_to 'New Folder', '/createfolder' %>
	<%= link_to 'New File', new_file1_path %>
</h3>