<h1>Listing folders</h1>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <div class="list">
  
  <% @files.each do |file| %>
  <tr>
  	<% if File.directory?(file)%>
  	<td><%= file %></td>
  
  <td> <%= button_to "Open Folder", {:controller => "folders", :action => 'subflist', :q => file }  %> </td>
  
 <td> <%= button_to "Delete Folder", {:controller => "folders", :action => 'deld', :fid => file }, :confirm => "Are you sure ?", :method => :delete %> </td>
  
 <td><%= form_tag renam_path   do %>
 	
    <%= text_field_tag(:q,file) %>
    <%= text_field_tag(:rn) %>
    <%= submit_tag("Renam", :name => nil,:confirm => "Are you sure ?") %>
    <% end %></td>

  	<% else %>
    <td><%= file %></td>
    <td><%= link_to 'Open', file[/\/.*/] %></td>
    <td> <%= button_to "Delete File", {:controller => "folders", :action => 'deld', :fid => file }, :confirm => "Are you sure ?", :method => :delete %> </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
</div>

<h3><%= link_to 'New Folder', nf_path %>
	<%= link_to 'New File', newf_path %>
</h3>