<h1><%= flash[:notice] %></h1>
<h1>Listing folders</h1>

<div>
<%= form_tag showf_path , :method => 'get'  do %>    
    <%= text_field_tag(:fpath,params[:fpath]) %>
    <%= submit_tag("Submit Path", :name => nil) %>
    <% end %>


</div>


<!-- <div class="new_folder">
<h3><%= link_to 'New Folder', new_folder_path %>
</h3> -->
</div>
